@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,700&display=swap');

:root{
    --fonte001: Arial, Helvetica, sans-serif;
    --fonte002: 'Bruno Ace SC', cursive;
    --fonte003:'Dosis', sans-serif;
    --fonte004:'Raleway', sans-serif;
}

body{
    background-color: black;
    background-image: url('imagens/img01.webp');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh; 
}

/* Estilo para o cabeçalho */
header{  
    border-radius: 8px;
    background-color:#1F0905;
    box-shadow: 1px 1px 9px #070f53;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
}

/* Estilo para texto do cabeçalho */
header >h1{
    font-family: var(--fonte002);
    font-size: 2.5em;
    text-shadow: 1px 1px 5px #D8F495; 	
	color: #fff;
	padding: 40px;
	text-align: center;  
    padding: 20px;
    margin-right:10px;
}

/* Estilo para as divs */
div {
	margin-left: auto;
    margin-right: 70px;
    margin-bottom: 20px;
	padding: 10px;
    min-width: 300px;
    max-width: 800px;
  	background-color: #C6CEEE;
	border-radius: 5px;
    box-shadow: 1px 1px 19px #070f53;
}

.span-required{
    font-size: 1em;
    margin: 1px 0 0 0px;
    display: none;
    color: red;
    font-family: var(--fonte004);
    font-size: 0.8em;
}


div section {
    display:flex;
    /*justify-content: space-evenly;*/
    gap: 2rem;     
}

div > h2{ /*cabeçalho da div*/
    font-family: var(--fonte002);
    font-size: 1.5em;
    color:#39446B;
}


.inputs{
    padding: 7px 4px;
    outline: none;
    background-color:  white;
    border: 2px solid #a3c3ffd5;
    box-shadow: 1px 1px 9px #95b4ece8;
    color: rgb(36, 21, 1);
    width: 100%;
    box-sizing: border-box;
    transition: 1s;
}


.inputs:focus{
    border-color: #383b47;
    border-width: 2.5px;
    transition: 0.9s;
}

/* /Títulos dos inputs */
label {
    font-family: var(--fonte004);
    font-size: 1em;
	display: block;
  	margin-bottom: 5px;
	font-weight: bold;
}

.check{ /*checkbox*/
    display: flex;
    margin-left: 150px;
    
}

/* borda os inputs */
input, textarea  {
	display: block;
	margin-bottom: 10px;
	padding: 5px;

	border-radius: 3px;
	width: 100%;
	box-sizing: border-box;
    
}

*::placeholder {
    font-family: var(--fonte004), sans-serif;
  }


.observacao{ /*texto informativo curso extra e form academica*/
    font-family: var(--fonte004);
    font-size: 0.9em;
}


button[type="submit"]{ /*botao gerar curriculo*/
    padding: 1.2em;
    font-size: 0.8em;
    outline:none;
    border:none;
    border-radius: 6px;
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 0px 19px black;
}

button[type="submit"]:hover{ /*efeito do botao gerar curriculo*/
    background-color: #A3C3FF;
    font-weight: bolder;
    font-size: 1em;
    font-family: var(--fonte003);
    
}

.botao{
    text-align: right;
}

button:hover{ /*efeito demais botões*/
    transition: 0.5s;
    border-color: #4b85f0;
    cursor: pointer;
    font-size: 1em;
    font-family: var(--fonte003);
}

footer{ /*rodapé*/
    border-radius: 5px;
    background-color: #595D6B;
    box-shadow: 1px 1px 15px rgba(16, 16, 36, 0.582);
    padding: 2px;
}

footer p{
    color: #A3C3FF;
    text-align: right;
    font-family: var(--fonte002);
    margin-right: 3%;  
}

.linkedin{
    max-width: 20px;
}

.instagram {
    max-width: 20px;
  
} 

.whatsapp{
    max-width: 20px;
}